{% extends 'base.html' %}

{% block title %}About Page{% endblock %}

{% block header %}
<center>
    <h1>About Halogenius ideas</h1>
</center>
{% endblock %}

{% block content %}
<h2>How we have been pushing</h2>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, similique
    eius maiores eligendi sapiente tempora blanditiis a dolor quidem consequuntur
    unde quod, iusto quibusdam molestiae suscipit laboriosam iure incidunt
    temporibus necessitatibus, quisquam odit pariatur atque. Alias, consectetur!
    Incidunt, odio magnam ullam voluptas optio a. Ducimus, alias repellendus. Sit,
    repellendus consequatur.
</p>
{% endblock %} {% block footer %}
<center>
    <h1>This is the footer of the site</h1>
</center>
{% endblock %}