<h1>Modify Student</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <label for="first_name">First name</label>
    <input type="text" name="first_name" id="first_name" value="{{ student.first_name }}">
    <br><br>
    <label for="last_name">Last name</label>
    <input type="text" name="last_name" id="last_name" value="{{ student.last_name }}">
    <br><br>
    <label for="age">Age</label>
    <input type="number" name="age" id="age" value="{{ student.age }}">
    <br><br>
    <label for="mmn">Mothers maiden name</label>
    <input type="text" name="mothers_maiden_name" id="mmn" value="{{ student.mothers_maiden_name }}">
    <br><br>
    <label for="biography">Biography</label>
    <br>
    <textarea name="biography" id="biography" cols="30" rows="10">{{ student.biography }}</textarea>
    <br><br> -->
    <button type="submit">Update Student</button>
</form>